body {
  background-color: #e5effa;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  margin: 40px auto;
  max-width: 700px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  font-size: x-large;
}

h3 span {
  color: white;
  background-color: purple;
  border-radius: 5px;
  padding: 10px;
}

header p {
  color: darkblue;
  cursor: pointer;
}

.notifications-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Dodaje razmak između notifikacija */
}

.unread-msg {
  background-color: #e5effa;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 15px; /* Razmak između slike i teksta */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.unread-msg img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.msg-content p {
  margin: 0;
  font-size: 14px;
}

.msg-content span {
  font-size: 12px;
  color: gray;
}
